s<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="width:80%">
    <h2>Welcome to Do it!</h2>
    <div style="line-height: 24px;"> Someone is inviting you to join a Team </br>
        <span style="color:red;font-weight: bold;font-size:20px;line-height: 20px;">{{teamName}}</span>, leading by 
        <span style="color:rgb(0, 0, 0);font-weight: bold;font-size:20px;line-height: 20px;">{{userName}}</span>
        <br>
        if you make sure you want to join this team, please click the following url.</br>
    </div>
    <a href="{{url}}">Click me to join this team!</a> 
</body>
</html>